---
---

<div
	class="grid grid-cols-1 place-content-center place-items-center gap-5 text-black"
>
	<p
	class="font-sora text-3xl font-light text-center tracking-wide md:text-2xl animate-fade-up duration-300"
	>
	<span>Artista | DJ | Producer</span>
	</p>
	<p
		class="font-sora text-4xl font-bold tracking-wide md:text-5xl animate-fade-up duration-300"
	>
		<span>Matteo Mancino</span>
	</p>
	<p
		class="text-xs font-light tracking-wide md:text-sm duration-300"
	>
		<span>Deep House, Afro House, Tech House</span>
	</p>
</div>
