---

---

<div
	class="grid grid-cols-1 place-content-center place-items-center gap-5 text-black"
>
	<p
		class="font-thin tracking-wide text-sm animate-fade-in duration-300"
	>
		<small
			>developed by <span class="ml-1 text-black-200 hover:text-red-800"><a href="https://github.com/markoceri" target="_blank">markoceri</a></span
			></small
		>
	</p>
</div>
