---
import { AstroFont } from "astro-font";
import Matomo from "../components/Matomo.astro";
import SEO from "../components/SEO.astro";

export interface Props {
  seo?: Object;
}

const { seo } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <SEO seo={seo} />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <AstroFont
            config={[
                {
                    src: [],
                    name: "Sora",
                    preload: false,
                    display: "swap",
                    fallback: "sans-serif",
                    selector: ".font-sora",
                    googleFontsURL:
                        "https://fonts.googleapis.com/css2?family=Sora:wght@100..800",
                },
            ]}
        />
    </head>
    <body>
        <div
            class="bg-[#e2dcda] bg-cover bg-scroll bg-center bg-no-repeat"
        >
            <div
                class="grid min-h-dvh grid-cols-1 place-content-center place-items-center gap-5"
            >
                <slot />
            </div>
        </div>
        <Matomo/>
    </body>
</html>
